body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1000px;
}

header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(125, 121, 150);

}

section {
    width: 70%;
    float:left;
 
}

aside {
    float:right;
    width: 30%;
 
}



